<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<style>

    .todo {
        background-color: beige;
        padding: 0.5em;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
    }

    .training {
        background-color: lightgreen;
        padding: 0.5em;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
    }

    .note {
        background-color: lightgoldenrodyellow;
        padding: 0.5em;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
    }

    .highlight {
        background-color: yellow;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
    }

    span.grey {
        font-size: xx-large;
        background: #cccccc;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #fff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 15px;
        text-align: center;
        width: 1.6em;
    }

    span.buzz {
        font-size: xxx-large;
        font-weight: lighter;
    }

    span.training {
        background-color: lightgreen;
    }

    div.nice {
        background-color: #808080;
        color: white;
        border-radius: .375em;
        font-weight: 600;
        padding: 0.25em 1em 0.25em 1em;
        position: relative;
        text-align: left;
    }

    .navbar {
        height: 50px;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .head{
        margin-top: 70px;
    }

    .content h1 {
        margin-bottom: 0;
    }

    .content h2 {
        margin-bottom: 0;
        @extend subtitle is-2
    }

    .content ul {
        margin-top: -1em;
    }

</style>


    {% block title %}
    {% endblock %}

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


</head>

<body class="has-navbar-fixed-top">

<div class="container">
    <nav class="navbar is-light is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item" href="/"><img src="/static/logo96.png"</a>
        </div>
        <div class="navbar-start">
            <a class="navbar-item" href="/wiki/Compliance">Compliance</a>
        </div>
    </nav>
</div>

    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>
