{% extends "base.html" %}

{% block title %}
  <title>Tebbutt Portal</title>
{% endblock %}

{% block content %}
    <article>
        <div class="container">
            <div class="column">
                <div class="block">
                    {% if projects %}
                        <h3 class="title">Projects ({{ status }})</h3>
                        {% for project in projects %}
                            {{ project }}
                        {% endfor %}
                    {% else %}
                        <h3 class="title">No Projects ({{ status }})</h3>
                        There are no {{ status }} projects
                    {% endif %}
                </div>

                <div class="block">
                    <h4 class="title">Add a new project</h4>
                    <form>

                        <!-- PROJECT NUMBER -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Project Number</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <input class="input" name="project" type="text" placeholder="Project Number" maxlength="12">
                                </div>
                            </div>
                        </div>

                        <!-- PROJECT NAME -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Project Name / Title</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-6">
                                    <input class="input" name="title" type="text" placeholder="Project Title" maxlength="50">
                                </div>
                            </div>
                        </div>

                        <!-- PROJECT TYPES -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Project types</label>(select all that apply)
                            </div>
                            <div class="field-body">
                                {% for t in project_types %}
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                            <input type="checkbox" name="type_{{ t }}" value="{{ t }}">
                                            {{ t }}
                                        </label>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>


                        </div>

                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <button type="submit" class="button is-link">Submit</button>
                            </div>
                            <div class="control">
                                <button class="button is-link is-light">Cancel</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </article>

{% endblock %}
