{% extends "base.html" %}


{% block title %}
  <title>Tebbutt Portal</title>
{% endblock %}

{% block content %}

<section class="hero is-fullheight">
    <div class="hero-body has-text-centered">
        <div class="column is-6 is-offset-3">

            <img src="/static/logo192.png" width="192px" alt="Logo" />
            <h1 class="title">Tebbutt Research</h1>
            <h2 class="subtitle">Client and Staff Portal</h2>

            <div class="box">
                <div class="block">
                    <a class="button is-info is-rounded" href="https://tebbuttresearch.com">Client Portal</a>
                    <a class="button is-info is-rounded" href="login">Staff Login</a>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
