{% extends "base.html" %}

{% block title %}
  <title>Tebbutt Portal</title>
{% endblock %}

{% block content %}
    <article>
        <div class="container">
            <div class="column">
                <div class="block">
                    <div class="content">
                        {% for line in html %}
                        {{ line | safe }}
                        {% endfor %}

                        <div class="card">

                            <div class="card-content" style="background-color: #ffeeee; font-size: small; font-family: 'Lucida Console'">
                                <a href="/wiki/edit/{{ title }}">Edit</a>
                                <table>
                                    {%  for key, val in meta.items() %}
                                    <tr>
                                        <td style="width:10em; text-align: right">{{ key }}</td><td>{{ val }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}
