{% extends "base.html" %}

{% block title %}
  <title>Tebbutt Portal</title>
{% endblock %}

{% block content %}
    <article>
        <div class="container">
            <div class="column">
                <div class="block">
                    <h2 class="title">Create New Template</h2>

                    <form action="/wiki/new" method="post">

                        <div class="field">
                            <div class="control">
                                <label class="label">Document / Form Title
                                <input id="title" name="title" class="input" type="text" value="{{ title }}">
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label class="label">URL
                                <input id="url" name="url" class="input" type="text" value="{{ url }}">
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label class="label">Author
                                <input id="author" name="author" class="input" type="text" {% if article %}value="{{ article.author }}"{% endif %} placeholder="Author">
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Permission to create</label>
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="chk1" value="research">
                                    Research
                                </label>

                                <label class="checkbox">
                                    <input type="checkbox" name="chk2" value="data">
                                    Data
                                </label>

                                <label class="checkbox">
                                    <input type="checkbox" name="chk3" value="field">
                                    Field
                                </label>

                            </div>
                        </div>

                        <div>
                            <button onclick="blockquote();">BlockQuote</button>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label class="label">Article
                                <textarea id="article" name="article" class="textarea" rows="40">{% if article %}{{ article.article }}{% endif %}</textarea>
                                </label>
                            </div>
                        </div>

                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <button type="submit" class="button is-link">Submit</button>
                            </div>
                            <div class="control">
                                <button class="button is-link is-light">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>

    <script>
        function blockquote() {
            let txt = "{" + "{Blockquote\n|text=\n}" + "}"
            let txtbox = document.getElementById("article");
            let pos = txtbox.selectionStart;
            let box_txt = txtbox.innerHTML
            let l_txt = box_txt.slice(0, pos);
            let r_txt = box_txt.slice(pos);
            txtbox.innerHTML = l_txt + txt + r_txt;
        }

    </script>
{% endblock %}
